<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiring Fraud Detection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Employee Hiring Fraud Detector</h2>
        <form action="/predict" method="post">
            <div class="form-group">
                <label for="qualification_match">Qualification Match:</label>
                <select name="qualification_match" id="qualification_match">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="experience_years">Experience Years:</label>
                <input type="text" name="experience_years" id="experience_years">
            </div>
            <div class="form-group">
                <label for="interview_rounds">Interview Rounds:</label>
                <input type="text" name="interview_rounds" id="interview_rounds">
            </div>
            <div class="form-group">
                <label for="time_to_hire_days">Time to Hire (Days):</label>
                <input type="text" name="time_to_hire_days" id="time_to_hire_days">
            </div>
            <div class="form-group">
                <label for="referral_connection">Referral Connection:</label>
                <select name="referral_connection" id="referral_connection">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="salary_increase_percent">Salary Increase (%):</label>
                <input type="text" name="salary_increase_percent" id="salary_increase_percent">
            </div>
            <button type="submit">Predict</button>
        </form>
        <h3>{{ prediction_text }}</h3>
    </div>
</body>
</html>
